ion-content {
    .upload-button {
      margin-bottom: 15px;
      --background: #3880ff; /* Color de fondo del botón, ajusta según tu diseño */
      --color: #fff; /* Color del texto del botón */
    }
  
    .upload-card {
      margin-bottom: 15px; /* Espacio entre tarjetas */
      --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para las tarjetas */
    }
  }
  