<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" expand="block" fill="clear" shape="round">
        <img src="assets/icon/back-white.png" alt="" style="height: 20px;">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">publicacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main-container">
    <div class="center-container" style="height: auto;">
      <!-- TITULO DE RECETA -->
      <ion-row style="width: 80%;">
        <ion-col size="12">
          <ion-text >
            <h1 style="text-align: start; font-weight: 600;">Gohan Casero</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <!-- FOTO DE RECETA -->
      <ion-row style="width: 100%;">
        <ion-col size="12">
          <img class="foto-publicacion-pag" src="assets/imagenes/comida1.jpg" alt="">
        </ion-col>
      </ion-row>
      <!-- QUIÉN PUBLICÓ -->
      <ion-row style="width: 80%;">
        <ion-col size="12">
          <h5 style="text-align: end; margin-top: 0;"><i class="icono mini-perfil"></i>             
            Gallo Gallar</h5> 
        </ion-col>
      </ion-row>
      <!-- INGREDIENTES DE RECETA -->
       <ion-row style="width: 80%">
        <ion-col size="12">
          <ion-text color="primary">
            <h1 class="center-align">Ingredientes:</h1>
          </ion-text>
          <ion-text>
            <h3 class="left-align">• 1kg de Pollo</h3>
            <h3 class="left-align">• 1 Pimentón</h3>
            <h3 class="left-align">• 1/4 de Lechuga</h3>
            <h3 class="left-align">• 2 tazas de Arroz</h3>
            <h3 class="left-align">• 300g Camarones</h3>
          </ion-text>
        </ion-col>
       </ion-row>
      <!-- PASOS DE RECETA -->
       <ion-row style="width: 85%;">
        <ion-col size="12">
          <ion-text color="primary">
            <h1 class="center-align">Instrucciones:</h1>
          </ion-text>
          <ion-text>
            <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, qui alias ipsa ipsam asperiores rerum quae. Praesentium esse ipsam inventore.</h1>
            <br>
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quaerat corporis nisi repellat voluptatum suscipit.</h1>
          </ion-text>
        </ion-col>
       </ion-row>
    </div>
  </div>
</ion-content>
