.main-container {
    display: flex;
    flex-direction: column; /* Stacks the items vertically */
    // justify-content: center; /* Centers the content horizontally */
    // align-items: center; /* Centers the content vertically, optional */
    // width: 90%; /* Adjust width as needed */
    max-width: 600px; /* Limits the maximum width */
    margin: 0 auto; /* Ensures the container is centered horizontally */
    height: auto; /* Adjust height as needed */
    // padding: 20px; /* Optional padding */
    // box-sizing: border-box; /* Ensures padding is included in width and height */
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
}

.img-perfil {
    max-width: 100%;
    max-height: 35vh;
    width: auto;
    height: auto;
}

.texto-perfil {
    margin-top: 20px;
    width: 80%; 
    max-width: 700px;
}

.estrella {
    background-image: url("/assets/icon/star64.png");
    display: inline-block;
    height: 45px; 
    width: 45px;
    background-size: contain;
    background-repeat: no-repeat;   
    vertical-align: middle;
}

.guardar {
    background-image: url("/assets/icon/guardar-128.png");
    display: inline-block;
    height: 50px; 
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;   
    vertical-align: middle;
}

.editar {
    position: relative;
    top: 10%;
    left: 35%;
    width: 60px;
    height: auto;
    display: flex;

}


.transparente {
    background-color: rgba(255, 255, 255, 0);
}