.main-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    height: auto;
    padding: 20px; /* Opcional, para darle un poco de espacio interno */
    box-sizing: border-box;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
    width: 100%;
}

.center-container-hor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.container-fluid, .container {
    width: 100%;
    height: auto;
}

.img-perfil {
    max-width: 100%;
    max-height: 35vh;
    width: auto;
    height: auto;
}

.texto-perfil {
    margin-top: 20px;
    width: 80%;
    max-width: 700px;
    text-align: center; /* Asegura que el texto esté centrado */
}

.icono {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.estrella {
    background-image: url("/assets/icon/star64.png");
    height: 45px;
    width: 45px;
}

.guardar {
    background-image: url("/assets/icon/guardar-128.png");
    height: 50px;
    width: 50px;
}

.mini-perfil {
    background-image: url("/assets/icon/chicken64.png");
    height: 40px;
    width: 40px;
}

.editar, .configuraciones {
    position: absolute;
    width: 60px;
    height: auto;
    display: flex;
}

.editar {
    top: 10%;
    left: 85%;
}

.configuraciones {
    top: 10%;
    left: 0;
}

.puntaje {
    bottom: 10px;
    right: 20px;
    position: absolute;
    display: flex;
    border-radius: 30px;
    background-color: rgba(35, 35, 41, 0.8);
}

.transparente {
    background-color: rgba(255, 255, 255, 0);
}

.publicacion {
    height: auto;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.foto-publicacion {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .center-container, .center-container-hor {
        height: auto; /* Ajusta la altura para pantallas pequeñas */
    }

    .img-perfil {
        max-height: 25vh; /* Ajusta el tamaño máximo para pantallas pequeñas */
    }

    .texto-perfil {
        font-size: 24px; /* Reduce el tamaño del texto para pantallas más pequeñas */
        width: 90%;
    }

    .editar, .configuraciones {
        top: 5%;
        width: 50px;
    }

    .publicacion {
        margin-bottom: 20px; /* Asegura que las publicaciones tengan un buen espaciado */
    }

    .foto-publicacion {
        height: 200px; /* Ajusta el tamaño de la imagen en pantallas pequeñas */
    }
}


