<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>publicacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">publicacion</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="main-container" style="margin-top: 30px;">
    <div class="center-container" style="background-color: black; height: auto;">
      <!-- QUIÉN PUBLICÓ -->
      <ion-row>
        <ion-col size="12">
          <h5><i class="icono mini-perfil"></i>             
            Gallo Gallar</h5> 
        </ion-col>
      </ion-row>
      <!-- FOTO DE RECETA -->
      <ion-row style="width: 100%;">
        <ion-col size="12">
          <img class="foto-publicacion-pag" src="assets/imagenes/comida1.jpg" alt="">
        </ion-col>
      </ion-row>
      <!-- TITULO DE RECETA -->
      <ion-row style="width: 80%;">
        <ion-col size="12">
          <ion-text >
            <h1 style="margin-top: 0px; text-align: start;">Gohan Casero</h1>
          </ion-text>
        </ion-col>
      </ion-row>
      <!-- INGREDIENTES DE RECETA -->
       <ion-row>
        <ion-col size="12">
          <ion-text color="primary">
            <h1 >Ingredientes:</h1>
          </ion-text>
          <ion-text>
            <h3>• 1kg de Pollo</h3>
            <h3>• 1 Pimentón</h3>
            <h3>• 1/4 de Lechuga</h3>
            <h3>• 2 tazas de Arroz</h3>
            <h3>• 300g Camarones</h3>
          </ion-text>
        </ion-col>
       </ion-row>
      <!-- PASOS DE RECETA -->
       <ion-row>
        <ion-col size="12"></ion-col>
       </ion-row>
    </div>
  </div>
</ion-content>
