<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()" expand="block" fill="clear" shape="round">
        <img src="assets/icon/back-white.png" alt="" style="height: 20px;">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container" style="height: 100%;">
    <div class="center-container" style="min-height: 667px; position: relative;">  
      <ion-input class="ion-text-center texto-perfil" fill="solid" type="text" [placeholder]="nombre || 'Invitado'" readonly style="font-size: 40px; color: rgb(255, 255, 255); position: absolute; top: 0; margin-top: 30px;"></ion-input>  

      <!-- <button class="padding-boton" >
        <h4>Cambiar Contraseña</h4>
      </button>
      
      <button class="padding-boton">
        <h4>Cambiar Correo Electrónico</h4>
      </button>
       -->
      <a>
        <button class="padding-boton" style="background-color: #cb1a27;" (click)="isLoggedIn ? signOut() : router.navigate(['/inicio'])">
          <h4>{{ isLoggedIn ? 'Cerrar Sesión' : 'Iniciar Sesión' }}</h4>
        </button>
      </a>

      <!-- <button class="padding-boton" style="position: absolute; bottom: 0; color: rgba(255, 255, 255, 0.597); background-color: #ad000e46;">
        <h4>Eliminar Cuenta</h4>
      </button> -->
    </div>
      
  </div>
</ion-content>
