<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-row class="ion-justify-content-center" style="padding-bottom: 50px;">
    <ion-col size="8">
      <ion-text class="ion-text-center">
        <h1>Inicio de Sesión</h1>
      </ion-text>
      <br />
      <ion-input type="text" label="Nombre de Usuario" label-placement="floating" fill="solid" placeholder="Ingresa tu nombre de usuario" [(ngModel)]="nombre" [counter]="true" maxlength="30"></ion-input>
      <br />
      <ion-input type="password" label="Contraseña" label-placement="floating" fill="solid" placeholder="Ingresa tu contraseña" [(ngModel)]="password" [counter]="true" minlength="8" maxlength="20"></ion-input>
      <div class="ion-text-center">
        <a routerLink="/signup">
          <ion-text color="primary">
            <h6>¿No tienes Cuenta?</h6>
          </ion-text>
        </a>
        <ion-button shape="round" fill="outline" color="success"> Ingresar </ion-button>
      </div>
    </ion-col>
  </ion-row>
  <ion-img src="assets/imagenes/fruit.png" style="height: 250px;"></ion-img>
</ion-content>
