<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-row class="ion-justify-content-center">
    <ion-col size="8">
      <ion-text class="ion-text-center">
        <h1>Inicio de Sesión</h1>
      </ion-text>
      <br>
      <ion-input label="Nombre de Usuario" label-placement="floating" fill="outline" placeholder="Ingresa un nombre de usuario" [counter]="true" maxlength="20"></ion-input>
      <br>
      <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingresa una contraseña" [counter]="true" maxlength="20"></ion-input>
      <div class="ion-text-center">
        <ion-button fill="outline" size="large" color="primary">Ingresar</ion-button>

      </div>

    </ion-col>
  </ion-row>
</ion-content>



