<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigate('/comunidad')" style="margin-left: 30px;">
        <ion-img src="assets/icon/compass64.png" style="height: 50px;"></ion-img>
      </ion-button>
      <ion-button (click)="navigate('/principal')" style="margin-left: 60px;">
        <ion-img src="assets/imagenes/fruit.png" style="height: 50px;"></ion-img>
      </ion-button>
      <ion-button (click)="navigate('/perfil')" style="margin-left: 60px;">
        <ion-img src="assets/icon/chicken64.png" style="height: 50px;"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>