<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">signup</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-row class="ion-justify-content-center">
    <ion-col size="6">
      <ion-text class="ion-text-center">
        <h1>Registrarse</h1>
      </ion-text>
      <br>
      <ion-input label="Correo Electrónico" label-placement="floating" fill="outline" placeholder="Ingresa tu correo electrónico" style="width: 500px;"></ion-input>
    </ion-col>
  </ion-row>
</ion-content>


<br><br>