ion-footer {
    background-color: white; /* Cambia el color de fondo si es necesario */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    z-index: 100; /* Asegúrate de que esté por encima de otros elementos, pero no demasiado alto */
  }
  
ion-tab-bar {
    --background: white; /* Color de fondo de la barra de tabs */
  }