<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs >
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="comunidad">
        <ion-img src="assets/icon/compass64.png" style="height: 50px;"></ion-img>
      </ion-tab-button>

      <ion-tab-button tab="principal">
        <ion-img src="assets/imagenes/fruit.png" style="height: 50px;"></ion-img>
      </ion-tab-button>

      <ion-tab-button tab="perfil">
        <ion-img src="assets/icon/chicken64.png" style="height: 50px;"></ion-img>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>

</ion-app>

