.boton {
    color: orange;
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    
}

.boton_cc {
    border-radius: 10px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px; 
}

.boton_cancelar {
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: red;
    font-size: 17px;
    margin-bottom: 10px;
}

.grafico {
    width: 100%;
    max-width: 250px; 
    height: auto; 
    margin: auto; 
}

.ion-img {
    display: block;
    margin: 0 auto; 
}


.ion-grid {
    padding: 0 16px;
}

.ion-row {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-bottom: 10px; 
}

.ion-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; 
    margin-bottom: 10px; 
}


