<ion-header>
  <!-- Encabezado del modal (opcional, según diseño) -->
</ion-header>

<ion-content>
  <br>
  <div class="main-container" style="position: relative;">
    <ion-row>
      <div class="center-container-hor">
        <ion-button id="open-modal" class="boton_cc" fill="outline" shape="round" expand="block" style="width: 200px;" color="danger">
          Contador de Calorías
        </ion-button> 
      </div>
    </ion-row>
    <br>
  </div>

  <!-- Modal para calcular TMB -->
  <ion-modal #modalContador trigger="open-modal">
    <ng-template>
      <div>
        <div>
          <ion-toolbar>
            <ion-title>Contador de Calorias Diarias</ion-title>
          </ion-toolbar>
        </div>
      </div>

      <ion-header>
        <!-- Encabezado adicional (opcional) -->
      </ion-header>

      <ion-content>
        <div class="main-container">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Datos personales</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-icon name="person-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="edad" type="number" placeholder="Edad"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="body-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="altura" type="number" placeholder="Altura (cm)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="fitness-outline" slot="start"></ion-icon>
                <ion-input [(ngModel)]="peso" type="number" placeholder="Peso (kg)" maxlength="3"></ion-input>
              </ion-item>
              <ion-item>
                <ion-icon name="male-female-outline" slot="start"></ion-icon>
                <ion-select [(ngModel)]="sexo" placeholder="Sexo">
                  <ion-select-option value="Hombre">Hombre</ion-select-option>
                  <ion-select-option value="Mujer">Mujer</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-icon name="walk-outline" slot="start"></ion-icon>
                <ion-select placeholder="Ejercicio" [(ngModel)]="ejercicio">
                  <ion-select-option value="nada">Nada de actividad</ion-select-option>
                  <ion-select-option value="ligera">Actividad ligera (1-2 días semanales)</ion-select-option>
                  <ion-select-option value="moderada">Actividad moderada (3-4 días semanales)</ion-select-option>
                  <ion-select-option value="intensa">Actividad intensa (5-6 días semanales)</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-card-content>
          </ion-card>
      
          <ion-button expand="block" shape="round" fill="solid" color="success" (click)="calcularTMB()">
            Calcular TMB
          </ion-button>
          <ion-button expand="block" shape="round" fill="outline" color="danger" (click)="cancelar()" >
            Cancelar
          </ion-button>
      
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Mostrar las calorías recomendadas -->
  <ion-card color="light">
  <ion-card-header>
    <ion-card-title>Resultados</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Calorías diarias recomendadas: <strong>{{ calorias }}</strong></p>
    <p>Fecha del cálculo: <strong>{{ fechaCalculo }}</strong></p>
  </ion-card-content>
</ion-card>
</ion-content>

<!-- Footer de la página -->
<app-footer></app-footer>