<ion-header>
  <ion-toolbar>
    <ion-title>DietApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-calorias">
    <ion-button id="open-modal" class="boton_cc" fill="clear" shape="round" expand="block">
      Contador de Calorias
    </ion-button>
  </div>

  <ion-modal #modalContador trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Contador de Calorias</ion-title>
          <ion-buttons slot="end" (click)="cancelar()" class="boton_cancelar" fill="clear">
            Cancelar
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-input type="text" placeholder="Edad" fill="solid" maxlength="2" class="boton"></ion-input>
        <br>
        <ion-input type="text" placeholder="Altura (cm)" fill="solid" maxlength="3" class="boton"></ion-input>
        <br>
        <ion-list>
          <ion-item expand="block" style="color: orange;">
            <ion-select placeholder="Sexo">
              <ion-select-option value="Hombre">Hombre</ion-select-option>
              <ion-select-option value="Mujer">Mujer</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
        <ion-input type="text" placeholder="Peso (kg)" fill="solid" maxlength="3" class="boton"></ion-input>
        <br>
        <ion-list>
          <ion-item expand="block" style="color: orange;">
            <ion-select placeholder="Ejercicio">
              <ion-select-option value="Opc1">Nunca</ion-select-option>
              <ion-select-option value="Opc2">A veces</ion-select-option>
              <ion-select-option value="Opc3">Frecuentemente</ion-select-option>
              <ion-select-option value="Opc4">Siempre</ion-select-option>
              <ion-select-option value="Opc5">Ejercicio Intenso</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-button expand="block" fill="clear" shape="round" class="boton">
          Calcular
        </ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <br><br>
  <ion-img src="assets/imagenes/grafico-de-torta.png" style="height: 250px;"></ion-img>
  <br><br>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-button fill="clear" shape="round" class="boton" expand="block" id="open-calorias">
          Calorias
        </ion-button>
        <ion-modal #modalCalorias trigger="open-calorias">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-title>Calorias</ion-title>
                <ion-buttons slot="end" (click)="cancelar()" class="boton_cancelar" fill="clear">
                  Cancelar
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content>
              <ion-list>
                <ion-item>
                  <ion-label>Diario</ion-label>
                  <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
                </ion-item>
                <ion-item>
                  <ion-label>Semanal</ion-label>
                  <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
                </ion-item>
                <ion-item>
                  <ion-label>Mensual</ion-label>
                  <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
                </ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-modal>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-button fill="clear" shape="round" class="boton" expand="block" id="open-entrena">
          Entrenamientos
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-button fill="clear" shape="round" class="boton" expand="block" id="open-pasos">
          Pasos
        </ion-button>
      </ion-col>
      <ion-col sizeLg="6" sizeMd="6" sizeXs="12">
        <ion-button fill="clear" shape="round" class="boton" expand="block" id="open-km">
          Km
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modalEntrenamientos trigger="open-entrena">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Entrenamientos</ion-title>
          <ion-buttons slot="end" (click)="cancelar()" class="boton_cancelar" fill="clear">
            Cancelar
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>Diario</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
          <ion-item>
            <ion-label>Semanal</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
          <ion-item>
            <ion-label>Mensual</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalPasos trigger="open-pasos">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Pasos</ion-title>
          <ion-buttons slot="end" (click)="cancelar()" class="boton_cancelar" fill="clear">
            Cancelar
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>Diario</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
          <ion-item>
            <ion-label>Semanal</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
          <ion-item>
            <ion-label>Mensual</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalKm trigger="open-km">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Km</ion-title>
          <ion-buttons slot="end" (click)="cancelar()" class="boton_cancelar" fill="clear">
            Cancelar
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>Diario</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
          <ion-item>
            <ion-label>Semanal</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
          <ion-item>
            <ion-label>Mensual</ion-label>
            <ion-img src="assets/imagenes/grafico-de-barras.png" class="grafico"></ion-img>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
