<ion-header>
  <ion-toolbar>
    <ion-title>DietApp</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button  fill="clear" shape="round" class="boton_cc" expand="block">
          Calcular Calorias
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <br>
  <ion-img src="assets/imagenes/fruit(1).png" style="height: 250px;"></ion-img>
  <br>
  <br>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <ion-button  fill="clear" shape="round" class="boton" expand="block">
          Calorias
        </ion-button>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <ion-button  fill="clear" shape="round" class="boton" expand="block">
          Entrenamientos
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <ion-button  fill="clear" shape="round" class="boton" expand="block">
          Pasos
        </ion-button>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <ion-button  fill="clear" shape="round" class="boton" expand="block">
          Km
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
 




</ion-content>