<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Subir Receta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <div class="center-container">
      <div class="container" style="width: 500px; height: 500px; background-color: rgb(93, 93, 93); border-radius: 30px;">
        <ion-row>
          <ion-col size="12">
            <button class="transparente">
            <img src="assets/icon/generative-image-256.png" alt="">
            </button>
          </ion-col>
        </ion-row>
        
      </div>
    </div>
  </div>
</ion-content>
