<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="main-container">
      <ion-row>
        <ion-col size="3">
          <button style="width: 100%; height: 35px; border-radius: 20px;">
            <img src="assets/icon/buscar-64.png" style="height: 20px;" alt="Buscar">
          </button>
        </ion-col>
        <ion-col size="7">
          <button style="width: 100%; height: 35px; border-radius: 20px;">
            <ion-title>Ordenar por -</ion-title>
          </button>
        </ion-col>
        <ion-col size="2">
          <a href="publicar">
            <button class="transparente" style="width: 100%; height: 35px; border-radius: 20px;">
              <img src="assets/icon/subir3-64.png" style="height: 100%; opacity: 0.5;" alt="subir">
            </button>
          </a>
          
        </ion-col>
      </ion-row>
    </div>
    
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-container">
    <!-- RECORRER BASE DE DATOS BUSCANDO PUBLICACIONES PARA MOSTRAR -->
    <ion-row>
      <div class="center-container-hor">
        <div class="container" style="height: auto; width: 80%; margin-bottom: 50px; padding-bottom: 20px; border-bottom: 1px solid rgba(66, 66, 78, 1);">
          <ion-text>
            <!-- AQUÍ HAY QUE INGRESAR EL NOMBRE DEL USUARIO DEL PERFÍL Y SU ÍCONO DE PERFÍL -->
            <a href="perfil" class="sin-estilo">
              <h5><i class="icono mini-perfil"></i>             
                Gallo Gallar</h5> 
            </a>
            
          </ion-text>
          <ion-text>
            <a href="publicacion" class="sin-estilo">
              <h1 style="margin: 0; padding: 0; margin-bottom: 5px;">Gohan Casero</h1>
            </a>
          </ion-text>
          <a href="publicacion">
            <button class="transparente publicacion">
              <img class="foto-publicacion" src="assets/imagenes/comida1.jpg" alt="">
              
              <!-- BOTÓN DE GUARDAR: si es que la receta ya está guardada, se mostrará sin opacidad reducida -->
              <button class="guardar-btn transparente" style="width: auto">
                <img src="assets/icon/guardar-128.png" style="width: 60px; opacity: 0.4;" alt="guardar">
              </button>

              <button class="puntaje" style="width: 55%; padding-left: 10px; padding-right: 10px;">
                <ion-row>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                </ion-row>
              </button>
              
            </button>
          </a>
          <ion-text>
            <h1 style="margin-top: 10px; left: 40%; text-align: right; font-weight: 500;">500 Kcal por porción</h1>
          </ion-text>
        </div>
      </div>
    </ion-row>
    <!-- SEGUNDA PUBLICACIÓN DE EJEMPLO -->
    <ion-row>
      <div class="center-container-hor">
        <div class="container" style="height: auto; width: 80%; margin-bottom: 50px; padding-bottom: 20px; border-bottom: 1px solid rgba(66, 66, 78, 1);">
          <ion-text>
            <!-- AQUÍ HAY QUE INGRESAR EL NOMBRE DEL USUARIO DEL PERFÍL Y SU ÍCONO DE PERFÍL -->
            <a href="perfil" class="sin-estilo">
              <h5><i class="icono mini-perfil-2"></i>             
                Gallardo Aguillar</h5> 
            </a>
          </ion-text>

          <ion-text>
            <a href="publicacion" class="sin-estilo">
              <h1 style="margin: 0; padding: 0; margin-bottom: 5px;">Panqueques con Miel y Frutas</h1>
            </a>
          </ion-text>
          <a href="publicacion">
            <button class="transparente publicacion">
              <img class="foto-publicacion" src="assets/imagenes/comida2.jpg" alt="">
              
              <button class="guardar-btn transparente" style="width: auto">
                <img src="assets/icon/guardar-128.png" style="width: 60px; opacity: 0.4;" alt="guardar">
              </button>

              <button class="puntaje" style="width: 55%; padding-left: 10px; padding-right: 10px;">
                <ion-row>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%; opacity: 0.4;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%; opacity: 0.4;"></ion-col>
                </ion-row>
              </button>
            </button>
          </a>
          <ion-text>
            <h1 style="margin-top: 10px; left: 40%; text-align: right; font-weight: 500;">550 Kcal por porción</h1>
          </ion-text>
        </div>
      </div>
    </ion-row>
    <!-- TERCERA PUBLICACIÓN DE EJEMPLO -->
    <ion-row>
      <div class="center-container-hor">
        <div class="container" style="height: auto; width: 80%; margin-bottom: 50px; padding-bottom: 20px; border-bottom: 1px solid rgba(66, 66, 78, 1);">
          <ion-text>
            <!-- AQUÍ HAY QUE INGRESAR EL NOMBRE DEL USUARIO DEL PERFÍL Y SU ÍCONO DE PERFÍL -->
            <a href="perfil" class="sin-estilo">
              <h5><i class="icono mini-perfil-3"></i>             
                Pepito Gallardo</h5> 
            </a>
            
          </ion-text>
          <ion-text>
            <a href="publicacion" class="sin-estilo">
              <h1 style="margin: 0; padding: 0; margin-bottom: 5px;">Ensalada</h1>
            </a>
          </ion-text>
          <a href="publicacion">
            <button class="transparente publicacion">
              <img class="foto-publicacion" src="assets/imagenes/ensalada.jpg" alt="">
              
              <!-- BOTÓN DE GUARDAR: si es que la receta ya está guardada, se mostrará sin opacidad reducida -->
              <button class="guardar-btn transparente" style="width: auto">
                <img src="assets/icon/guardar-128.png" style="width: 60px; opacity: 0.4;" alt="guardar">
              </button>

              <button class="puntaje" style="width: 55%; padding-left: 10px; padding-right: 10px;">
                <ion-row>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%; opacity: 0.4;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%; opacity: 0.4;"></ion-col>
                  <ion-col><img src="assets/icon/star64.png" alt="" style="width: 100%; opacity: 0.4;"></ion-col>
                </ion-row>
              </button>
            </button>
          </a>
          <ion-text>
            <h1 style="margin-top: 10px; left: 40%; text-align: right; font-weight: 500;">150 Kcal por porción</h1>
          </ion-text>
        </div>
      </div>
    </ion-row>

    <!-- CODIGO ANTIGUO -->
    <ion-content class="ion-padding">
      <!-- Botones para subir recetas y entrenamientos -->
      <ion-button expand="full" class="upload-button" (click)="uploadReceta()">
        Subir Receta
      </ion-button>
      <ion-button expand="full" class="upload-button" (click)="uploadEntrenamiento()">
        Subir Entrenamiento
      </ion-button>
  
      <!-- ------CODIGO ANTIGUO -->
      <!-- Tarjetas para recetas y entrenamientos -->
      <!-- <ion-card class="upload-card">
        <ion-card-header>
          <ion-card-title>Recetas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          --------Contenido de la tarjeta de recetas
        </ion-card-content>
      </ion-card>
  
      <ion-card class="upload-card">
        <ion-card-header>
          <ion-card-title>Entrenamientos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          --------Contenido de la tarjeta de entrenamientos
        </ion-card-content>
      </ion-card>
    
    ------CODIGO ANTIGUO -->
  </ion-content>
  </div>
  
</ion-content>


<app-footer> </app-footer>